@model BOMB.Web.ViewModels.Account.Step2

@{
    ViewBag.Title = "Logon Step 2";
}

<div class="page-header">
    <h1>Almost Done</h1>
</div>

<div class="alert alert-info">
    <h4 class="alert-heading">More Information!</h4>
    <p>Just need to know what display name you want to use.</p>
</div>

@using (Html.BeginForm("LogOnStep2", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
{ 
    <fieldset>
        @Html.BootstrapUneditableInput(m => m.EmailAddress)
        @Html.BootstrapTextBoxFor(m => m.DisplayName)
        @Html.BootstrapButtonsBegin()
        @Html.BootstrapButton("btnContinue", "Continue", BootstrapFormHelper.ButtonType.primary)
        @Html.BootstrapButtonsEnd()
    </fieldset>
    @Html.HiddenFor(m => m.EmailAddress)
    @Html.HiddenFor(m => m.PrivateGuid)
}
